.text-platzi {
    color: #97c93e !important;
}

#header img{
    width: 80px;
}
/*La unidad vh es el porcentaje del alto de la pantalla
  El objet-fit nos permite colocar stilos para que la imagen se acople
  en este caso cover para que no pierda proporcion
  - Tambien a la imagen le pondremos un filtro de escala de grises*/
#main .carousel-inner img{
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);
}

#footer{
    background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
}
#footer a{
    color: white;
}